/* 默认：无选择图标，无编辑按钮 */
.image-cell {
    position: relative;
    line-height: 0;
    display: inline-block;
    cursor: pointer;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    overflow: hidden
}
.image-cell a {
    text-decoration: none;
}
.image-cell > .img {
    display: block;
    cursor: pointer
}

.image-cell > .img > img {
    width: 100%;
    height: 100%;
    display: block
}
.image-cell .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.image-cell .overlay {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
}
.image-cell .buttons {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: -10px;
    right: 10px;
    width: auto;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}


.image-cell .buttons .button {
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: rgba(34,34,34,0.2);
    overflow: hidden;
}


.image-cell .select {
    position: absolute;
    display: none;
    z-index: 2;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 16px;
    background: rgba(0,0,0,.3)
}

.image-cell .like {
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 10px;
    width: 32px;
    height: 32px;
    padding: 6px;
    opacity: 0;
    border-radius: 2px;
    background-color: rgba(34,34,34,0.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.image-cell:hover .buttons, .image-cell:hover .like {
    opacity: 1;
    top: 10px
}
.image-cell .buttons .button:hover, .image-cell .like:hover {
    background-color: rgba(34,34,34,0.5)
}

.image-cell .details {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    background: black;
    background: rgba(0,0,0,0.6);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    width: 100%;
    height: 60px;
    opacity: 0;
    bottom: 0;
    text-shadow: 0px 0px 1px #000;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;

}

.image-cell:hover .details {
    opacity: 1;
}

.image-cell .details a {
    overflow: hidden;
    white-space: word-wrap;
    text-overflow: ellipsis;
    color: white
}
.image-cell .details a:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: " ";
    width: 100%;
    padding: 1px 3px;
    border-radius: 3px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -3px;
    display: block;
    background-color: rgba(255,255,255,0);
    z-index: 1;
    -webkit-transition: 0.1s;
    transition: 0.1s
}

.image-cell .details a:hover:before {
    background-color: rgba(255,255,255,0.2)
}
.image-cell .details .title {
    max-width: 150px;
    height: 18px;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    position: absolute;
    white-space: word-wrap;
    text-overflow: ellipsis;
    top: 14px;
    left: 12px;
    -webkit-transition: 0.1s;
    transition: 0.1s
}

.image-cell .details .title a {
    height: 18px
}

.image-cell .details .author {
    max-width: 200px;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    position: absolute;
    bottom: 8px;
    left: 13px
}
.image-cell .details .author a {
    height: 15px
}


/* 选择图标选中，或者就是遮罩开启，显示遮罩 */
.image-cell.overlay-on .overlay, .image-cell.selected .overlay {
    display: block;
}

/* 无作者，只有标题 */
.image-cell.without-author .author {
    display: none;
} 
.image-cell.without-author .details {
    height: 50px;
}
/* cell: 180x180 */
.image-cell.image-cell-180x180 {
    width: 180px;
    height: 180px;
}
.image-cell.image-cell-180x180 > .img > img {
    width: 180px;
    height: 180px;
}
/* cell: 236x236 */
.image-cell.image-cell-236x236 {
    width: 236px;
    height: 236px;
    margin: 0 16px 16px 0;
}
.image-cell.image-cell-236x236 > .img > img {
    width: 236px;
    height: 236px;
}
/* 使用background，而不使用img标签 */
.image-cell.image-cell-by-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    background-size: cover;
}
.image-cell.image-cell-by-background .img {
    display: none;
}
/* 只有选择图标，用于批量操作 */
.image-cell.only-with-select .like, .image-cell.only-with-select .buttons, .image-cell.only-with-select .details {
    display: none;
}
.image-cell.only-with-select:hover .select, 
.image-cell.only-with-select:hover .overlay, 
.image-cell.only-with-select.selected .select, 
.image-cell.only-with-select.selected .overlay {
    display: block;
}
.image-cell.selected .select {
    background: #01a0d8;
}

/* 图片大图展示 */
.image-list {
    /*padding: 28px 30px;*/
    /*margin: 0 0 40px;*/
    background: #fff;
    clear: both;
    /*border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)*/
}
.image-list a {
    text-decoration: none;
}

/*.image-list .image-cell > .img > img {
    border-radius: 5px;
}*/

.image-list .info {
    padding: 6px 10px 5px;
    margin: 20px 0 0;
    padding: 12px 0;
    border-radius: 5px;
    line-height: 20px;
    color: #888;
}
.image-list .info a, .image-list .info a:hover {
    color: #690;
}
.image-list .info .title {
    font-size: 14px;
    padding-bottom: 5px; 
    /*border-bottom: 1px solid #dddddd;*/
    font-weight: normal;
    line-height: normal
}

.image-list .info .title a.image-list-author {
    font-size: 12px;
}
.image-list .info .description {
    padding-top: 5px;
    font-size: 12px;
}