/* 重置 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 加载 Google 字体 */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher'), url(http://font.qiniudn.com/Philosopher.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://font.qiniudn.com/Titillium Web.woff) format('woff');
}
body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Philosopher", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
input,
textarea,
select,
.btn {
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
:focus {
  outline: none;
}
ul,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}

/* 浮动 */
.float-left,
.fl {
  float: left !important;
}
.float-right,
.fr {
  float: right !important;
}

/* 清除浮动 */
.clearfix,
.cf {
  *zoom: 1;
}
.clearfix:before,
.cf:before,
.clearfix:after,
.cf:after {
  display: table;
  content: " ";
  line-height: 0;
}
.clearfix:after,
.cf:after {
  clear: both;
}

/* 隐藏文字 */
.hidden-text,
.ht {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* 字体alignment */
.text-center{
  text-align: center;
}

/* 形状 */
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  *zoom: 1;
}
.circle {
  border-radius: 50%;
}

.mgl50 {
	margin-left: 50px !important;
}

.mgr50 {
	margin-right: 50px !important;
}


.hide {
  display: none;
}
/*
img {
  width: 100%;
}
*/
.blur {
  -webkit-filter: blur(18px);
  -moz-filter: blur(18px);
  -ms-filter: blur(18px);
  filter: blur(18px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=18, MakeShadow=false);
}

.section {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.section-1 {
	background-image: url(../samples/sample-images-vertical.jpg);
}
.section-2 {
	background-image: url(../samples/sample-images-horizontal.jpg);
}
.section-3 {
	background-image: url(../samples/sample-images-panel.jpg);
}
.section-4 {
	background-image: url(../samples/sample-user.jpg);
}
.section-5 {
	background-image: url(../samples/sample-upload.jpg);
}
.section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(66, 66, 66, 0.5);
}
.section-content {
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
	background-size: cover;
}
.section-content-1 {
    width: 432px;
    height: 38px;
    margin-top: -19px;
    margin-left: -216px;
    background-image: url(../samples/sample-index-text-1.png);
}
.section-content-2 {
    width: 426px;
    height: 38px;
    margin-top: -19px;
    margin-left: -213px;
    background-image: url(../samples/sample-index-text-2.png);
}
.section-content-3 {
    width: 553px;
    height: 38px;
    margin-top: -19px;
    margin-left: -274px;
    background-image: url(../samples/sample-index-text-3.png);
}
.section-content-4 {
    width: 391px;
    height: 38px;
    margin-top: -19px;
    margin-left: -181px;
    background-image: url(../samples/sample-index-text-4.png);
}
.section-content-5 {
    width: 674px;
    height: 38px;
    margin-top: -19px;
    margin-left: -337px;
    background-image: url(../samples/sample-index-text-5.png);
}
.section-start {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 252px;
    height: 30px;
    background-repeat: no-repeat;
	background-size: cover;
    background-image: url(../samples/sample-index-text-start.png);
}