/* 默认：无选择图标，无编辑按钮 */
.album-cell, 
.collection-cell {
    position: relative;
    line-height: 0;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    /*margin: 10px;*/
    width: 220px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    overflow: hidden
}

.album-cell a, 
.collection-cell a {
    text-decoration: none;
}
.album-cell > .img, 
.collection-cell > .img {
    display: block;
    cursor: pointer
}

.album-cell > .img > img, 
.collection-cell > .img > img {
    width: 100%;
    height: 100%;
    display: block
}
.album-cell .cover, 
.collection-cell .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.album-cell .overlay, 
.collection-cell .overlay {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
}
.album-cell .buttons, 
.collection-cell .buttons {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: -10px;
    right: 10px;
    width: auto;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}



.album-cell .buttons .button, 
.collection-cell .buttons .button {
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: rgba(34,34,34,0.2);
    overflow: hidden;
}

.album-cell .select,
.collection-cell .select {
    position: absolute;
    display: none;
    z-index: 2;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 16px;
    background: rgba(0,0,0,.3)
}

.album-cell .like,
.collection-cell .like {
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 10px;
    width: 32px;
    height: 32px;
    padding: 6px;
    opacity: 0;
    border-radius: 2px;
    background-color: rgba(34,34,34,0.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.album-cell:hover .buttons, .album-cell:hover .like, 
.collection-cell:hover .buttons, .collection-cell:hover .like {
    opacity: 1;
    top: 10px
}

.album-cell .buttons .button:hover, .album-cell .like:hover,
.collection-cell .buttons .button:hover, .collection-cell .like:hover {
    background-color: rgba(34,34,34,0.5)
}

.album-cell .details,
.collection-cell .details {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    background: black;
    background: rgba(0,0,0,0.6);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    width: 200px;
    height: 60px;
    bottom: 10px;
    text-shadow: 0px 0px 1px #000;

}

.album-cell .details a,
.collection-cell .details a {
    overflow: hidden;
    white-space: word-wrap;
    text-overflow: ellipsis;
    color: white
}
.album-cell .details a:before,
.collection-cell .details a:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: " ";
    width: 100%;
    padding: 1px 3px;
    border-radius: 3px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -3px;
    display: block;
    background-color: rgba(255,255,255,0);
    z-index: 1;
    -webkit-transition: 0.1s;
    transition: 0.1s
}

.album-cell .details a:hover:before,
.collection-cell .details a:hover:before {
    background-color: rgba(255,255,255,0.2)
}
.album-cell .details .title,
.collection-cell .details .title {
    max-width: 140px;
    height: 18px;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    top: 14px;
    left: 4px;
    -webkit-transition: 0.1s;
    transition: 0.1s
}

.album-cell .details .title a,
.collection-cell .details .title a {
    height: 18px
}

.album-cell .details .author,
.collection-cell .details .author {
    max-width: 140px;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    position: absolute;
    bottom: 8px;
    left: 4px
}

.album-cell .details .author a,
.collection-cell .details .author a {
    height: 15px
}
.album-cell .images-count,
.collection-cell .images-count {
    position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: 40px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;

}
.album-cell .album-collection-mark,
.collection-cell .album-collection-mark {
    position: absolute;
    right: 10px;
    bottom: 30px;
    max-width: 40px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;

}


/* 选择图标选中，或者就是遮罩开启，显示遮罩 */
.album-cell.overlay-on .overlay, .album-cell.selected .overlay,
.collection-cell.overlay-on .overlay, .collection-cell.selected .overlay {
    display: block;
}

/* 无作者，只有标题 */
.album-cell.without-author .author,
.collection-cell.without-author .author {
    display: none;
} 
.album-cell.without-author .details,
.collection-cell.without-author .details {
    height: 50px;
}
/* 只有选择图标，用于批量操作 */
.album-cell.only-with-select .like, .album-cell.only-with-select .buttons, .album-cell.only-with-select .details,
.collection-cell.only-with-select .like, .collection-cell.only-with-select .buttons, .collection-cell.only-with-select .details {
    display: none;
}
.album-cell.only-with-select:hover .select, 
.album-cell.only-with-select:hover .overlay, 
.album-cell.only-with-select.selected .select, 
.album-cell.only-with-select.selected .overlay,
.collection-cell.only-with-select:hover .select, 
.collection-cell.only-with-select:hover .overlay, 
.collection-cell.only-with-select.selected .select, 
.collection-cell.only-with-select.selected .overlay {
    display: block;
} 
.album-cell.selected .select,
.collection-cell.selected .select {
    background: #01a0d8;
}

/* 列表显示 */
.album-cell-list,
.collection-cell-list {
    width: 100%;
    height: 230px;
    /*margin-bottom: 50px;*/
    position: relative;
    line-height: 0;
    display: inline-block;
    overflow: hidden;
}
/* 专辑列表显示 */
.album-cell-list .album-cell,
.collection-cell-list .collection-cell {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    width: 230px;
    height: 230px;
}
.album-cell-list .album-cell .details,
.collection-cell-list .collection-cell .details {
    width: 230px;
    bottom: 0;
}
.album-cell-list .album-cell .details .title,  .album-cell-list .album-cell .details .author,
.collection-cell-list .collection-cell .details .title,  .collection-cell-list .collection-cell .details .author {
    max-width: 180px;
    left: 14px;
}
.album-cell-list .content,
.collection-cell-list .content {
    height: 230px;
    margin-bottom: -10px;
}
/* 大于等于16张图片的专辑列表以小图两行显示 */
.album-cell-list .content .item,
.collection-cell-list .content .item {
    float: left;
    width: 110px;
    height: 110px;
    margin: 0 10px 10px 0;
    overflow: hidden;
}
.album-cell-list .content .item img,
.collection-cell-list .content .item img {
    width: 110px;
    height: 110px;
}
/* 小于16张图片的专辑列表以大图一行显示 */
.album-cell-list .content .item-large,
.collection-cell-list .content .item-large {
    float: left;
    width: 230px;
    height: 230px;
    margin: 0 10px 10px 0;
    overflow: hidden;
}
.album-cell-list .content .item-large img,
.collection-cell-list .content .item-large img {
    width: 230px;
    height: 230px;
}