#header {
    width: 100%;
    height: 50px;
    font-size: 13px;
    /*background-color: #f5f5f5;*/
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

#header a,
#header a:hover {
    text-decoration: none;
}
#header ul {
    padding: 0;
    margin: 0;
}
#header li {
    list-style: none;
}
#header .header-logo {
    display: block;
    float: left;
    width: 110px;
    height: 28px;
    margin: 10px 20px 10px 0;
    text-indent: -999em;
    background: url(../image/logo-with-text.png) no-repeat;
}

#header .header-left-part {
    position: relative;
    float: left;
}
#header .header-right-part {
    position: relative;
    float: right;
}

#header .header-link {
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    color: #333;
    cursor: pointer;
}
#header .header-link:hover {
    text-shadow:0 0 1px #999;
}
#header .header-link > b {
    float: left;
    margin: 20px 0 20px 4px;;
}

#header .header-nav-divider {
    width: 0;
    height: 14px;
    margin: 18px 10px;
    border-right: 1px solid #fff

}
#header .header-right-part > li {
    display: block;
    float: right;
}
#header .header-upload {
    padding: 10px 20px;
}


#header-login {
    display: block;
    float: right;
    overflow: hidden;
}

#header .login {
    display: block;
    float: right;
    height: 50px;
    padding: 10px;
}
#header .login > li {
    float: right;
}


#header-account {
    display: block;
    float: right;
}
#header .header-user {
    float: right;
    width: 50px;
    cursor: pointer;
}
#header .header-user .q-dropdown-menu i {
    top: 7px;
    left: 4px;
}
#header-account .header-nav-link {
    display: block;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
}
#header .header-nav-link img {
    margin: 0 auto;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
#header .header-nav-link:hover img {
    opacity: .5;
}
#header .triangle-rb {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}
#header .header-message {
    position: relative;
    float: right;
    height: 50px;
    width: 50px;
    cursor: pointer
}
#header .header-message .header-notification {
    position: relative;
    margin: 15px 18px;
}
#header .header-message:hover .header-notification {
    background-position: -100px 0;
}
#header .header-message .num, #header .header-user .num {
    padding: 0 3px;
    line-height: 12px;
    position: absolute;
    border-radius: 12px;
    background: #5cb85c;
    color: #fff;
    top: 8px;
    left: 31px;
    font-size: 8px;
}
#header .header-user .message-count {
	margin-left: 4px;
	padding: 0 3px;
    line-height: 12px;
    border-radius: 12px;
    background: #5cb85c;
    color: #fff;
    font-size: 8px;
}


/* 搜索部分 */
#header-search {
    position: relative;
    float: right;
    height: 50px;
    width: 280px;
    padding: 10px 0;
    font-size: 12px;
    margin-right: 20px;
}
#header-search .search-form {
    position: relative;
    width: 100%;
    height: 30px;
}
#header-search .submit {
    position: absolute;
    right: 4px;
    top: 5px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    text-indent: -9999em;
}
#header-search .submit:hover {
    background-position: -60px 0;
}

/* 搜索自动完成部分 */
#header-search-hint {
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 999;
}
#header-search-hint ul {
    display: block;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    background: rgba(22, 22, 22, 0.8);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
}
#header-search-hint li {
    height: 30px;
    overflow: hidden;
    background-color: #fff;
}
#header-search-hint a {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #333;
    text-indent: 15px;
}
#header-search-hint a:hover, #header-search-hint li.selected a {
    background: #f5f5f5;
}

/* 消息弹出框 */
#notify-popup {
    display: none;
    position: absolute;
    font-size: 12px;
    z-index: 9;
    right: 40px;
    top: 52px
}


#notify-popup .content {
    position: relative;
    width: 354px;
    padding: 0;
    box-shadow: 0 3px 8px rgba(0,0,0,0.5);
    border: 1px solid #ddd \9;
    border-radius: 0 0 3px 3px;
    background-color: #fff
}

#notify-popup .container {

}

#notify-popup .loading {
    height: 150px;
    background: url(../image/loading-128.gif) no-repeat center
}

#notify-popup .none {
    height: 150px;
    font-size: 14px;
    line-height: 150px;
    text-align: center;
    color: #666
}

#notify-popup .notify-title {
    position: relative;
    overflow: hidden;
    width: 354px;
    text-align: center;
    line-height: 34px;
    font-size: 13px;
    background: #f5f5f5;
}


#notify-popup .content-block {
    clear: both
}

#notify-popup .content-block .scroll-pane {
    height: 270px
}
#notify-popup .content-block ul {
    margin-top: 10px
}

#notify-popup .content-block li {
    position: relative;
    padding: 8px 25px 5px 15px;
	border-bottom: 1px solid #ebebeb;
}

#notify-popup .content-block li p {
    line-height: 18px;
    margin: 0;
    word-wrap: break-word
}

#notify-popup .content-block li:hover {
    background-color: #EBEBEB
}

#notify-popup .content-block li a {
    margin: 0 3px;
    font-weight: bold;
    color: #2764B3
}

#notify-popup .content-block li a:hover {
    text-decoration: underline
}

#notify-popup .content-block li em {
    color: #999
}

#notify-popup .content-block li .icon {
    position: absolute;
    right: 6px;
    top: 50%;
	margin-top: -6px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #449d44
}

#notify-popup .content-block .read p {
    color: #999
}

#notify-popup .content-block .read a {
    color: #5C7699;
    font-weight: normal
}

#notify-popup .content-block .read em {
    color: #B3B3B3
}

#notify-popup .content-block .read .icon {
    display: none
}

#notify-popup .content-block .more {
    display: block;
    border-top: 1px solid #D6D6D6;
    background-color: #F2F2F2;
    line-height: 28px;
    text-align: center;
    color: #666
}

#notify-popup .content-block .more:hover {
    background-color: #E5E5E5
}

#notify-popup .triangle {
    display: block;
    position: absolute;
    right: 61px;
    top: -9px;
    overflow: hidden;
    height: 10px;
    font-size: 0;
    color: #fff
}

/* 放在头部的页脚信息，用于瀑布流无法显示页脚 */
#header .footer-brief {
    position: relative;
    float: right;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}
#header .footer-brief .dot {
    display: block;
    font-size: 0;
    margin-top: 20px;
}









#footer {
    border-top: 1px solid #eeeeee;
    margin: 20px 0 0 0;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    padding-top: 20px;
    overflow: auto;
    color: #666;
    text-align: center;
}
#footer a {
    color: #999;
}
#footer .footer-list {
    list-style: none;
    margin: 0 auto 0 20px;
    float: left;
}
#footer .footer-list-item {
    float: left;
    text-align: left;
    list-style: none;
    width: 110px;
    padding-right: 30px;
    line-height: 22px;
}