/*
#manage {
    position: fixed;
    left: 0;
    top: 52px;
    right: 0;
    bottom: 0;
    font-size: 13px;
}
#manage a {
    text-decoration: none;
}
*/
#manage-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 52px;
    height: 50px;
    border-bottom: 1px solid #dddddd;
    z-index: 899;
}
/* 这儿的绝对定位会导致 summernote 遮罩盖过弹出框，因为绝对定位会使 z-index 属性失效 */
#manage-middle {
    position: fixed;
    left: 0;
    right: 0;
    top: 103px;
    bottom: 150px;
    border-bottom: 1px solid #dddddd;
    overflow: auto;
    z-index: 899;
}
/*
#middle-wrapper {
    width: 980px;
    margin: 20px auto;
}
*/
#album-info-wrapper {
    width: 980px;
    margin: 120px auto 20px auto;
}
#manage-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    z-index: 899;
}
#manage-top h3 {
    float: left;
    margin-top: 3px;
    margin-left: 40px;
    margin-right: 40px;
    color: #690;
}
#manage-tab {
    position: absolute;
    right: 50px;
    bottom: 10px;
    height: 30px;
}

#manage-filter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 116px;
    height: 30px;
}
#manage-submit {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 80px;
}
#manage-filter-submit {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}
#manage-search {
    position: relative;
}
#manage-search-keyword {
    height: 28px;
    font-size: 12px;
}
#manage-search-submit {
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#manage-filter-time input {
    height: 28px;
    font-size: 12px;
    width: 120px;
    float: left;
}
#manage-filter-time span {
    display: inline-block;
    float: left;
    width: 20px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

#origin-images {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    top: 40px;
    border-top: 1px solid #eeeeee;
    overflow-x: auto;
}
#origin-image-list {
    padding: 3px 0 20px 0;
    height: 80px;
    margin: 0 auto;
}
#album-image-list {
    padding: 20px;
}
#origin-image-list > li, #album-image-list > li {
    float: left;
    margin-right: 4px;
    border: 4px solid transparent;
    cursor: pointer;
}
#origin-image-list > li.selected, #album-image-list > li.selected {
    border-color: #00b7ee;
}

